.align-left{
    text-align: left;
    left: -15px;
}
.align-right{
    text-align: right;
    left: -15px;
}
.align-center{
    text-align: center;
    left: -15px;
}
.align-justify{
    text-align: justify;
}